/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Pacifico);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

/* Responsive layouts */
@media all and (min-width: 401px) {
    #contentWrapper{
        width:60%;
    }
}

@media all and (min-width: 750px) {
    #contentWrapper{
        width:80%;
    }
}

@media all and (min-width: 1000px) {
    #contentWrapper{
        width:900px;
    }
}

html,body,div,span,applet,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,code,img,article,footer,header,nav,section {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: 0;
    vertical-align: baseline;
}


h1{
    font-size: 30px;
    vertical-align: text-bottom;
    display: inline;
    font-family: 'Pacifico', cursive;
    color: #cc181e;
}

h2{
    font-family: "Open Sans";
    color: #66595c;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 20px;
}

h3{
    font-family: "Istok Web";
    margin: 7px 0;
    font-size: 18px;
    color: #cc181e;
}

a{
    border-bottom: 1.5px dotted #cc181e;
    color: #282b2e;
    font-weight: bold;
    padding-bottom: 3px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #f2efeb;
    color: #333333;
    padding: 0px;
    margin: 0px;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    font-weight: bold;
    color: #cc181e;
}

dt.method{
    text-align: center;
    padding: 4px 0;
    color: #cc181e;
    box-shadow: none;
}

dd {
    margin: 0 0 15px 130px;
    padding: 0 0 0.5em 0;margin: 0 0 15px 240px;
    padding: 0 0 0.5em 0;
}

dl.methods > dd{
    margin: 0 0 10px 140px;
    display: block;
}

dl {
    margin: 10px 40px;
}

#main_player_playlist{
    border: 1px solid red;
    float: right;
}

#main_player_ctrls{
    margin-top: 10px;
}

#changelog li:before{
    content: "\f126";
    font-family: "FontAwesome";
    font-size: 1em;
    margin-right: 10px;
}

#changelog{
    padding: 0px;
    list-style-type: none;
}

#changelog .version{
    margin-right: 10px;
    font-weight: bold;
}

ol {
    display:block;
    padding: 0 0 0 26px;
    counter-reset: listNum;
    list-style-type: none;
}

ol li:before {
    counter-increment: listNum;
    content: counter(listNum);
    position: absolute;
    left: -28px;
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #cc181e;
    -moz-border-radius: 999px;
    border-radius: 999px;
    font-weight: bold;
}

ol li {
    position: relative;
    padding-left: 20px;
}

li{
    padding-top: 10px;
}

#changelog li{
    color: #333;
    border-bottom: 1px solid #e4ded7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.buttons{
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
}

.buttons .download span:after{
    content: "\f019";
}

.buttons .source span:after{
    content: "\f09b";
}

.buttons span:after{
    font-family: "FontAwesome";
    color: #cc181e;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    line-height: 50px;
}

.buttons a:hover span{
    -webkit-transform: translate3d(0, -220%, 0);
    -moz-transform: translate3d(0, -220%, 0);
    transform: translate3d(0, -220%, 0);
}

.buttons span{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.buttons a{
    overflow: hidden;
    line-height: 1;
    color: #66595c;
    background: #fff;
    padding: 1em 1em;
    border-radius: 2px;
    margin: 0 0 0 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 0 none;
    display: inline-block;
}

.transparent{
    opacity: 0.3;
    border: 0px none;
    box-shadow: none !important;
}

.spacer{
    height: 30px;
}

section{
    margin-top: 7px;
}

section > article .explanation {
    padding: 10px 20px 25px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
}

#contentWrapper{
    display: block;
    margin: 30px auto;
}

.comment{
    margin-top: 10px;
    display: block;
    line-height: 20px;
}

.comment:before{
    content: "\f178";
    color: #cc181e;
    font-family: "FontAwesome";
    margin-right: 10px;
}

.codeElem{
    font-family: Consolas, monaco, 'consolas-wf', Courier, monospace;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.15), inset 0 0 1px rgba(0,0,0,.1);
    background: #f2f2f2;
    padding: 3px 7px 3px;
    margin: 0 3px;
    border-radius: 2px;
    font-size: 1em;
    -webkit-font-smoothing: auto;
    font-weight: bold;
    display: inline-block;
}

header{
    text-align: center;
    margin-bottom: 10px;
}

header img{
    vertical-align: text-bottom;
}

pre code {
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.clear{
    clear: both;
}

button{
    cursor: pointer;
    border:none;
    margin-right:20px;
    outline: none;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: -moz-linear-gradient(top, #f2d851, #ecc92b);
    background: -webkit-linear-gradient(top, #f2d851, #ecc92b);
    background: linear-gradient(to bottom, #f2d851, #ecc92b);
    color: black;
    box-shadow: -1px 0px 1px #d9b826, 0px 1px 1px #b1961d, -2px 1px 1px #d9b826, -1px 2px 1px #b1961d, -3px 2px 1px #d9b826, -2px 3px 1px #b1961d, -4px 3px 1px #d9b826, -3px 4px 1px #b1961d, -5px 4px 1px #d9b826, -4px 5px 1px #b1961d, -6px 5px 1px #d9b826, -6px 7px 0 rgba(0, 0, 0, 0.05), -5px 8px 0 rgba(0, 0, 0, 0.05), -3px 9px 0 rgba(0, 0, 0, 0.04), -2px 10px 0 rgba(0, 0, 0, 0.04), -1px 11px 0 rgba(0, 0, 0, 0.03), 0px 12px 0 rgba(0, 0, 0, 0.03), 1px 13px 0 rgba(0, 0, 0, 0.02), 2px 14px 0 rgba(0, 0, 0, 0.02), 3px 15px 0 rgba(0, 0, 0, 0.01), 4px 16px 0 rgba(0, 0, 0, 0.01), 5px 17px 0 rgba(0, 0, 0, 0.01), 6px 18px 0 rgba(0, 0, 0, 0.01), inset 0 4px 5px -2px rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}
button:active {
    box-shadow: none;
    -moz-transform: translate3d(-6px, 6px, 0);
    -ms-transform: translate3d(-6px, 6px, 0);
    -webkit-transform: translate3d(-6px, 6px, 0);
    transform: translate3d(-6px, 6px, 0);
}

button:after {
    -webkit-filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
    filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
}
button:before {
    height: 14px;
    top: 26px;
    right: 16px;
    z-index: 3;
    -moz-transform: rotate(-137deg);
    -ms-transform: rotate(-137deg);
    -webkit-transform: rotate(-137deg);
    transform: rotate(-137deg);
    -webkit-filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));
}
